@using Blazorise.Icons.FontAwesome
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">

            <Blazorise.Bootstrap5.Bootstrap5Provider>
                <Blazorise.Icons.FontAwesome.FontAwesomeIconProvider>
                    @Body
                </Blazorise.Icons.FontAwesome.FontAwesomeIconProvider>
            </Blazorise.Bootstrap5.Bootstrap5Provider>

        </article>
    </main>

</div>


